 {{!-- About section start --}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <h1 class="text-center">About Us</h1>
                <p class="text-center">Grow your business with us</p>
                <div class="row">
                    {{!-- left image slid --}}
                    <div class="col-md-6 col-12 hero-text mt-5">
                        <figure>
                            <img src="images/m14.png" alt="herosection_image">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 hero-text  d-flex justify-conter-center align-items-start flex-column mt-5">
                        <h1>WE WILL HELP YOU TO</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptate unde sunt ab quasi, hic culpa fugit at libero adipisci.</p>
                        <button class="btn-style btn-primary">Red more</button>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {{!-- about section end --}}