<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
            <img class="text-white"
                src="https://static8.depositphotos.com/1378583/1010/i/600/depositphotos_10108949-stock-photo-blue-flame-logo.jpg"
                alt="image" width="50" height="50" style="border-radius: 50%;"
                class="d-inline-block align-text-top">Company_Logo
        </a>

        <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#aboutid">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#serviceid">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#galleryid">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contactid">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>